body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color:#011744;
    color: white;
    text-align: center;
    padding: 20px 0;
}


.profile {
    text-align: center;
    margin: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #011744;
}

.profile h2 {
    font-size: 24px;
    margin: 10px 0;
}

.profile p {
    font-size: 16px;
    color: #555;
}

#editarPerfil {
    background-color:#011744;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

#editarPerfil:hover {
    background-color:blue;
}

.details {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details h3 {
    color: #011744;
    font-size: 20px;
    margin-bottom: 10px;
}

.details ul {
    list-style: none;
    padding: 0;
}

.details ul li {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}
#editarDetalhes {
    background-color:#011744;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

#editarDetalhes:hover {
    background-color: blue;
}

#labelFoto {
    background-color: #011744;
    color: white;
    cursor: pointer;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    position: relative;
    top: 6px;
}

#labelFoto:hover {
    background-color: blue;
}
